/* Aca empiezan las reglas de estilo css*/
body {
	font-family: Calibri;
	color: #8a1f1f;
	font-size: 20px;
	line-height: 150%;
	text-align: justify;
	hyphens: auto; /* No funciona en chrome de Windows */
	width: 80%;
	margin: auto;
	background-color: #9c9c9c;

	/*
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 0%;
	margin-top: 0%;
	*/


}
h1{
	font-size: 28px;
	text-align: center;
}

a{
	text-decoration: none;
	color:  #9c9c9c;
	background-color: #8a1f1f;
	padding-right: 5px;
	padding-left: 5px;
}

a:hover {
	background-color: #FFFFFF;
	color: #8a1f1f;

}
